{% extends "baseLayout.html" %}

{% block content %}
<div class="header-list-page">
    <h1 class="title">{{ pageTitle }}</h1>
    <a href="{{ baseUrl }}/categories/create" class="btn-action">Add new Category</a>
</div>
{% if msg %}
<p style="color: #990000; text-align: right;"><b>{{ msg }}</b></p>
{% endif %}
<table class="data-grid">
    <tr class="data-row">
        <th class="data-grid-th">
            <span class="data-grid-cell-content">Name</span>
        </th>
        <th class="data-grid-th">
            <span class="data-grid-cell-content">Code</span>
        </th>
        <th class="data-grid-th">
            <span class="data-grid-cell-content">Actions</span>
        </th>
    </tr>
    {% for category in categoryList %}
    <tr class="data-row">
        <td class="data-grid-td">
            <span class="data-grid-cell-content">{{ category.name }}</span>
        </td>
        <td class="data-grid-td">
            <span class="data-grid-cell-content">{{ category.code }}</span>
        </td>
        <td class="data-grid-td">
            <div class="actions">
                <div class="action edit"><span><a href="{{ baseUrl }}/categories/{{ category.id }}/edit">Edit</a></span></div>
                <div class="action delete"><span><a href="{{ baseUrl }}/categories/{{ category.id }}/delete" onclick="return confirm('Are you sure you want to delete this item?');">Delete</a></span></div>
            </div>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}