{% extends "baseLayout.html" %}

{% block content %}
<div class="header-list-page">
    <h1 class="title">Dashboard</h1>
</div>
<div class="infor">
    You have {{ productList.count }} products added on this store: <a href="/products/create" class="btn-action">Add new Product</a>
</div>
<ul class="product-list">
    {% for product in productList %}
    <li>
        <div class="product-image">
            {% if product.image == '' %}
            <img src="{{ baseUrl }}/assets/images/no-image.jpg" layout="responsive" width="164" height="145" alt="{{ product.name }}" />
            {% else %}
            <img src="{{ baseUrl }}/images/{{ product.image }}" layout="responsive" width="164" height="145" alt="{{ product.name }}" />
            {% endif %}
        </div>
        <div class="product-info">
            <div class="product-name">
                <span>{{ product.name }}</span>
            </div>
            <div class="product-price">
                <span class="special-price">{{ product.qty }} available</span> 
                <span>{{ product.price }}</span>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}